*
{
    font-family: sans-serif;
}

#container
{
    margin-top: 20px;
    margin-bottom: 50px;
    border: 2px solid grey;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

#header
{
    margin-top: 0px;
    text-align: center;
    font-size: 200%;
    color:white;
    background-color: lightgrey;
    height: 80px;
    padding: 25px;
}

#sidemenu
{
    margin-top: 0px;
    display: inline-block;
    width: 200px;
    height: auto;
    background-color: lightblue;
    font-size: 20px;
    border: 1px solid lightblue;
    margin-left: 20px;
    margin-right: 20px;
    float:left;
    text-align: center;
}

#main
{
    display: inline-block;
    width: 700px;
    height: 400px;
    background-color: lightblur
    font-size: 15px;



}